<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Financial Plot</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
</head>

<body>
  <!-- Navbar set up to link to other pages as well as provide a quick link to take straight to the charts -->

  
  
  <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-md-9 col-md-offset-1">
              <a class="navbar-brand" href="/" id="logo" style="position: relative; left:30px">CryptoDash</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="#charts">Bitcoin Charts</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Project Info 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/candlestick">Candstick Chart History</a></li>
                  <li><a href="/project_info">Project Info</a></li>
                  <!-- <li><a href="/team_info">Team Info</a></li> -->
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
 <!-- Set up header image and project title -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 jumbotron text-center">
        <h1 class="header">Crypto Leprachaun</h1>
        <h3 class="subheader">Analyzing your digital pot of gold!</h3>
      </div>
    </div> -->
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1 class="header">Candlestick Charts: A History</h1>
                    <p style="margin-top: 15pt">A candlestick chart (also called Japanese candlestick chart) is a style of financial chart used to describe price movements of a security, derivative, or currency. 
                        Each "candlestick" typically shows one day, thus a one-month chart may show the 20 trading days as 20 "candlesticks".
                        Shorter intervals than one day are common on computer charts, longer are possible.
                        Candlestick charts are thought to have been developed in the 18th century by Munehisa Homma, a Japanese rice trader of financial instruments.
                        They were introduced to the Western world by Steve Nison in his book, Japanese Candlestick Charting Techniques. 
                    </p>
                    <p>Candlesticks are usually composed of the body (black / white or green / red), and an upper and a lower shadow (wick). The area between the open and the close is called the real body, price excursions above and below the real body are shadows. The wick illustrates the highest and lowest traded prices of an asset during the time interval represented. The body illustrates the opening and closing trades.
                        If the asset closed higher than it opened, the body is hollow or unfilled, with the opening price at the bottom of the body and the closing price at the top. If the asset closed lower than it opened, the body is solid or filled, with the opening price at the top and the closing price at the bottom. A black (or red) candle represents a price action with a lower closing price than the prior candle's close. 
                        A white (or green) candle represents a higher closing price than the prior candle's close. 
                        Thus, the color of the candle represents the price movement relative to the prior period's close and the "fill" (solid or hollow) 
                        of the candle represents the price direction of the period in isolation (solid for a higher open and lower close; hollow for a lower open and a higher close). A candlestick need not have either a body or a wick
                    </p>
                </div>
            </div>
        </body>

    