<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Financial Plot</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <!-- <link rel="stylesheet" href="../css/style.css"> -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
</head>

<body>
  <!-- Navbar set up to link to other pages as well as provide a quick link to take straight to the charts -->

  
  
  <nav class="navbar navbar-default">
      <div class="container-fluid navbar-custom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="row">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="col-md-9 col-md-offset-1">
              <a class="navbar-brand" href="/" id="logo" style="position: relative; left:30px">CryptoDash</a>
            </div>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-right-custom">
              <li><a href="#charts">Bitcoin Charts</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  Project Info 
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="/candlestick">Candstick Chart History</a></li>
                  <li><a href="/project_info">Project Info</a></li>
                  <!-- <li><a href="/project_team">Team Info</a></li> -->
                </ul>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
    </nav>
    <!-- End of navbar -->
 <!-- Set up header image and project title -->
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-md-10 col-md-offset-1 jumbotron text-center">
        <h1 class="header">Crypto Leprachaun</h1>
        <h3 class="subheader">Analyzing your digital pot of gold!</h3>
      </div> -->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1 class="header">Project Info</h1>
            </div>
            <div class="col-md-6 col-md-offset-1" style="margin-top: 15pt; margin-bottom: 20pt">
                <p style="margin-top: 5pt">Welcome to Cryptodash! This project was born out of Jon's ETL project and is really being built so he can track his cryptomillions. Our main sources of data were the following: 
                  https://coinmarketcap.com and https://www.bitmex.com/</p>
                <h3 style="margin-top: 15pt">Some Definitions</h3>
                <h4 style="margin-top: 15pt">Shorts Minus Longs</h4>
                <p style="margin-top: 5pt">a high number is bullish</p>
                <h4 style="margin-top: 5pt">Bitfinex Shorts</h4>
                <p style="margin-top: 5pt">Bitfinex is a margin exchange which discloses the number of short positions outstanding. The higher the number of outstanding short positions the higher the probability is that a short squeeze will be triggered, therefore higher number of shorts = bullish.</p>
                <h4 style="margin-top: 5pt">Bitfinex Leveraged Longs</h4>
                <p style="margin-top: 5pt">Bitfinex is a margin exchange which discloses their outstanding leveraged long positions. When traders employ leverage this reflects bullish sentiment but margin positions tends to be shorter term in nature with tighter stop losses, therefore higher amount of margin longs = bearish.</p>
                <h4 style="margin-top: 5pt">Bitmex Funding Rate</h4>
                <p style="margin-top: 5pt">Funding rate for the popular Bitmex XBT perpetual swap contract.a perpetual The way they keep the price of the perpetual swap in-line with underlying BTC is the funding rate. Longs pay the shorts a positive funding rate 3x/day or vice versa if the rate is negative. A high rate means folks are more bullish and incentivizes folks to take the short side of the contract and vice-versa.</p>
                <h4 style="margin-top: 5pt">Bitcoin Dominance</h4>
                <p style="margin-top: 5pt">this metric reflects the total Bitcoin market cap/total crypto market cap. It tends to be somewhat range bound and mean reverting so when the ratio gets to the high-end of the range, prepare for alts season and vice-versa.</p>
                <h3 style="margin-top: 30pt"> Team Responsibilities</h3>
                <ul>
                    <li><p style="margin-top: 15pt">Jon collected and cleaned our data and did the first run of creating our charts. He also figured out how to incorporate the date slider on the website and pull in the google trends. Being the only one of us who really understands cryptocurrency, he also designed what our charts should look like and what data should be pulled in.</p></li>
                    <li><p style="margin-top: 5pt">Laura ran with pulling down the bitmex data and took the second run at our app.js file, cleaning up the code to run more smoothly. She also took our flask app over the finish line once, incorporating the json data into our app.js file and troubleshooting our flask app issues.</p></li>
                    <li><p style="margin-top: 5pt">Hilary worked on the front end, creating the webpages. She also converted the csv data into a sqlite file and created the flask app.</p></li>
                </ul>
                
            </div>
        </div>
    </div>